// Please select color from here

$colors: (
  light-text-color: #ffffff,

  secondary-color-1: #004e7c,
);

$fonts: (
  paragraph32: 32px,
  paragraph28: 28px,
  paragraph26: 26px,
  paragraph24: 24px,
  paragraph22: 22px,
  paragraph20: 20px,
  paragraph18: 18px,
  paragraph16: 16px,
  paragraph14: 14px,
  paragraph12: 12px,
  paragraph10: 10px,
  paragraph8: 8px,

  //? FW-Header
  TopWeight: 700,
  HardWeight: 600,
  MediumWeight: 500,
  RegularWeight: 400,
);
